<% if messages.present? %>
  <% if message.sender == current_user %>
  <div class="current-sender">
    <li><%= message.content %></li>
  </div>
  <% else %>
  <div class="current-receiver">
    <li><%= message.content %></li>
  </div>
  <% end %>
<% end %>
