

.editing-title {
    padding-bottom: 11px;
    color: white;
    background-color: #0d8787;
    margin-top: 0px;
    padding-top: 11px;
    padding-left: 6px;
    margin-left: -14px;
    margin-right: -14px;
}
