// Specific CSS for your home-page

.container {
  align-content: center;
}

.row-title {
  color: rgb(89, 136, 131);
  font-size: 32px;
  text-align: center;
}

.profile-dashboard {
  background-image: asset-url('darkdenim3.png');
  background-repeat: repeat;
  display: grid;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  grid-template-rows: 25% 1fr 1fr 1fr 1fr;
  grid-template-columns: 50% 50%;
  color: rgb(89, 136, 131);
}

.main-title {
  border-shadow: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  // color: rgb(145, 145, 145);
  font-family: $my-font;
  font-size: 16px;
}

.subtitle-two {
  border-shadow: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  // color: rgb(175, 175, 175);
  font-family: $my-font;
  font-size: 32px;
}

.subtitle-three {
  border-shadow: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  // color: rgb(175, 175, 175);
  font-family: $my-font;
  font-size: 32px;
}

.subtitle-four {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  // color: rgb(175, 175, 175);
  font-family: $my-font;
  font-size: 32px;
}

.subtitle-five {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  // color: rgb(175, 175, 175);
  font-family: $my-font;
  font-size: 32px;
}

.subtitle-six {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  // color: rgb(175, 175, 175);
  font-family: $my-font;
  font-size: 32px;
}

.subtitle-seven {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $my-font;
  font-size: 32px;
  // color: rgb(175, 175, 175);
}

.subtitle-eight {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $my-font;
  font-size: 32px;
  // color: rgb(175, 175, 175);
}


