// Specific CSS for your home-page

.wrapper {
  background-image: asset-url('darkdenim3.png');
  background-repeat: repeat;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  // margin: 0;
  // padding: 0;
  // align-items: center;
}

.container-banner {
display: flex;
align-items: center;
justify-content: space-around;
height: 100vh;
margin-top: 15px;
}

.banner-content {
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  // background-image: asset-url('landing-page.jpg');
  // background-size: cover !important;
  border: solid;
  color: rgb(88, 137, 132);
  padding: 80px 0;
  text-align: center;
}

.banner-content h1 {
    font-family: $my-font;
    color: rgb(88, 137, 132);
    font-weight: bolder;
}

.banner-content h2 {
  color: rgb(88, 137, 132);
}

.container-cards {
align-items: center;
justify-content: space-around;
}

.card-ui {
  background-color: rgb(145,145,145);
  border: solid;
  text-align: center;
  color: rgb(88, 137, 132);
  align-items: center;
}

.card-ui h1 {
  color: rgb(88, 137, 132);
  font-size: 18px;
  font-weight: bolder;

}
.card-ui p {
font-size: 14px;
color: rgb(88, 137, 132);
font-weight: lighter;
}

.card-description {
  color: rgb(88, 137, 132);
  font-size: 14px;
}




