


.form-alignment-centered {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.form-inputs {
  justify-content: center;
}

.form-actions {
  display: flex;
  justify-content: center;
}

// .title-login h2 {
//   text-align: center;
// }

.other-actions {
    justify-content: center;
    font-family: white;
}
