<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @auction %>
</p>

<%= link_to 'Destroy', auction_path(@auction), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', bills_path %>
