<div class="footer">
  <div class="footer-links">
     <div class='text-right footer-links'>
          <ul class='list-inline'>
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
      </div>
  </div>
  <div class="credits">
    <p> Qui sommes-nous? <br>
        Mentions légales <br>
        Nous suivre
    </p>
  </div>
</div>
