<div class="padded-wrapper">
   <h3 class="text-center title-new-bill">New Bill</h3>
  <div class="container small-container container-new-bill">

    <%= render 'form', bill: @bill %>
  </div>
</div>

