


  <!-- <div class="container text-center"> -->
<div class="profile-dashboard">
  <div class="main-title">
      <h1>BidnBill</h1>
  </div>
    <div class="subtitle">
      <p>subtitle two</p>
    </div>
      <div class="subtitle-eight">
        <p>Créer une enchère inversée</p>
      </div>
        <div class="subtitle-six">
          <p>subtitle-six</p>
        </div>
          <div class="subtitle-four">
            <p>subtitle-four</p>
          </div>
            <div class="subtitle-five">
              <p>subtitle-five</p>
            </div>
              <div class="subtitle-three">
                <p>subtitle-three</p>
              </div>
                <div class="subtitle-seven">
                  <p>subtitle-seven</p>
                </div>
                  <div class="subtitle-two">
                    <p>subtitle-eight</p>
                  </div>
</div>


