
.card-auction {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 56px;
  // margin-top: 33px;
  // margin-left: -226px;
  background-position: center;
  background-size: cover !important;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px;
  text-align: center;
  color: black;
  border: none;
  background-color: white;
  width: 766px;
}

.btn-eye {
  color: #fff;
  background-color: #83888c;
  position: absolute;
  top: 12px;
  right: 10px;
  border-color: none;
  border: none;
}

.black-auction {
  color: black;
  margin-top: 5px;
  > a, > span, > form {
    flex: 0 0 auto;
  }
}
