
.card-auction {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 56px;
  margin-top: 33px;
  margin-left: -226px;
  width: 800px;
  background-position: center;
  background-size: cover !important;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: black;
  border: none;

}

.btn-eye {
  color: #fff;
  background-color: #83888c;
    /* border-color: #2e6da4; */
    margin-left: 636px;
    margin-top: -57px;
    margin-left: 733px;
    border-color: none;
    border: none;
  }

 .black-auction {
    color: black;
    margin-left: -700px;
    margin-top: 5px;
  }
