
.footer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-image: asset-url('darkdenim3.png');
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgb(175, 175, 175);
  border-top: 1px solid rgb(175, 175, 175);
}

.footer-links {
  display: flex;
  align-items: left;
}

.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;

}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: (175, 175, 175);
}
.fab {
  color: (175, 175, 175);
}

.credit {

}
